<h4>Здравствуйте Администратор!</h4>
<p>
  Мы преклоняемся пред Вами и выдаем список записанных на экзекуцию:
</p>
<form action='/admin_panel' method='GET' class="form-inline well">
 <%= @results %>

  <table class="table table-bordered">

    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Barber</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |x| %>
      <tr>
        <th scope="row">1</th>
        <td><%= x['first_name'] %></td>
        <td><%= x['surname'] %></td>
        <td><%= x['phone'] %></td>
        <td><%= x['date_stamp'] %></td>
        <td><%= x['barber'] %></td>
        <td><%= x['color'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</form>
