<h2>Записаться</h2>
<p>
  Здесь Вы можете к нам записаться на прием:
</p>
<form action="/visit" method="POST" role="form">
  <!-- Правильное написание функции для JQuery -->
  <script type="text/javascript">
  // этот код (для выбора цвета) исполняется после загрузки ВСЕЙ страницы
  $(function(){
    $('#color').simplecolorpicker();
  });
  </script>

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="first_name" type="text" class="form-control" placeholder="Введите Ваше имя" value="<%= @first_name %>">
  </div>
  <div class="form-group">
    <label>Ваша Фамилия</label>
    <input name="surname" type="text" class="form-control" placeholder="Введите Вашу Фамилию" value="<%= @surname %>">
  </div>
  <div class="form-group">
    <label>Ваш номер телефона</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите номер Вашего телефона" value="<%= @phone %>">
  </div>
  <div class="form-group">
    <label>Время Вашего посещения</label>
    <input name="date_time" type="text" class="form-control" placeholder="В какое время Вам будет удобно?" value="<%= @date_time %>">
  </div>
  <div class="form-group">
    <label>Выберете Вашего мастера</label>
    <select name="barber_master" class="form-control" id="exampleFormControlSelect1">
        <option <%= @barber_master == 'Edik Rukinozhnisyan'? 'selected' : '' %>>Edik Rukinozhnisyan</option>
        <option <%= @barber_master == 'Fedor Crugerov'? 'selected' : '' %>>Fedor Crugerov</option>
        <option <%= @barber_master == 'Maxim Krikov'? 'selected' : '' %>>Maxim Krikov</option>
      </select>
    </div>
    <div class="form-group">
      <label>Выберете цвет покраски</label>
      <select name="colorpicker" id="color">
        <option value="#7bd148">Green</option>
        <option value="#a4bdfc">Blue</option>
        <option value="#5484ed">Bold blue</option>
        <option value="#46d6db">Turquoise</option>
        <option value="#7ae7bf">Light green</option>
        <option value="#51b749">Bold green</option>
        <option value="#fbd75b">Yellow</option>
        <option value="#ffb878">Orange</option>
        <option value="#ff887c">Red</option>
        <option value="#dc2127">Bold red</option>
        <option value="#dbadff">Purple</option>
        <option value="#e1e1e1">Gray</option>
      </select>
    </div>

  <button type="submit" class="btn btn-warning">Записаться</button>
</form>
